﻿body {
}

.body-content {
    padding: 30px 0;
}

.footer {
    padding: 20px 0;
}

.table-hover tbody tr {
    cursor: pointer;
}

.validity-label {
    font-size: $font-size-sm;
    color: $gray-500;
    display: inline-block;
    margin-left: 5px;
}

.form-limit-width {
    max-width: 350px;
}

/***** Sticky footer *****/
#react-app,
.layout {
    min-height: 100vh;
}

.layout {
    display: flex;
    flex-direction: column;

    .body-content,
    .body-container-wrapper,
    .container {
        flex: 1;
    }
}
/***** End sticky footer *****/
