﻿.page-test-components {
    .pagination-container {
        padding-top: 0.5rem;
        justify-content: flex-start;
    }

    .dialog-buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        button {
            margin-right: 0.5rem;
            margin-bottom: 1rem;
        }
    }
}
