﻿.page-test-inputs {
    .select-section,
    .multi-select-section {
        .react-select {
            width: 300px;
        }
    }

    .styled-radio-input {
        .form-check.false {
            border: 1px dashed hsl(0, 0%, 80%);
        }

        .form-check.true label {
            color: theme-color('primary');
        }
    }

    .gridRadioInput__radio-button-container {
        width: 350px;
        display: grid;
        grid-template-columns: repeat(5, auto);
    }

    .address-input-section {
        .address-input {
            max-width: 500px;
        }
    }
}
